* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  font-family: "Space Grotesk";
  font-weight: 500;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* ===============================================================
================= HEADER CONTAINER ============================
=============================================================== */

.header-container {
  height: 100vh;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img-container {
  position: absolute;
  align-self: flex-end;
  height: 525px;
  width: 525px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main-image {
  height: 100vh;
  width: 500px;
  background-image: url(./Assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-start;
}

.card-back {
  align-self: flex-end;
}

.on-card-name {
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
}

.on-card-number {
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
}

.on-card-exp {
  position: absolute;
  top: 200px;
  right: 124px;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
}

.on-card-cvc {
  position: absolute;
  bottom: 117px;
  right: 55px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}

.card-logo {
  background-image: url(./Assets/images/card-logo.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* ===============================================================
================= MAIN CONTAINER ==============================
=============================================================== */

.main-container {
  height: 100vh;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 400px;
  justify-content: center;
  align-items: flex-start;
  margin: 40px;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 100%;
  min-width: 10%;
  height: 90px;
  color: hsl(0, 0%, 23%);
  font-weight: bold;
  font-size: 15px;
}

.card-exp {
  display: flex;
  flex-direction: column;
}

.card-exp input {
  margin-right: 10px;
}

.card-exp div {
  display: flex;
  flex-direction: row;
}

.card-exp div input {
  width: 100%;
}

.card-exp div span {
  float: inline-end;
}

.exp-cvc-container {
  display: flex;
  justify-content: space-between;
}

.cvc {
  margin-left: 10px;
}

input {
  height: 40px;
  margin: 5px 0;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 7px;
  padding: 15px;
}

input:focus {
  outline: none;
  padding: 15px;
  border: double 1px transparent;
  border-radius: 7px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

button {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 0;
  border-radius: 7px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: hsl(278, 68%, 11%, 0.9);
}

button:disabled {
  background-color: rgb(168, 168, 168);
}

/* ===============================================================
================= COMPLETE CONTAINER ==========================
=============================================================== */

.complete-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 275px;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  align-self: flex-start;
}

.complete-container h2 {
  color: hsl(278, 68%, 11%);
}

.complete-container p {
  color: hsl(279, 6%, 55%);
}

/* ==========================================
=========== ERROR MESSAGES ===============
========================================== */

.error-message {
  font-size: 13px;
  color: hsl(0, 100%, 66%);
}

.input-border-red {
  border: 1px solid red;
}

/* =================================================================
============== MEDIA QUERIES ====================================
================================================================ */

@media screen and (max-width: 1150px) {
  .main-container {
    width: 600px;
  }
  body {
    width: 100vw;
  }
}

@media screen and (max-width: 1050px) {
  .form-container {
    margin: 15px;
    margin-right: 20px;
  }
  .complete-container {
    margin: 15px;
    margin-right: 20px;
    align-self: center;
    width: 330px;
  }
  .card-img-container {
    margin: 15px;
    height: 450px;
    width: 400px;
  }
  .card-back {
    align-self: flex-start;
    width: 400px;
  }

  .card-front {
    width: 400px;
  }

  .main-image {
    width: 400px;
    background-size: cover;
  }
  .on-card-name {
    top: 180px;
    left: 30px;
  }

  .on-card-number {
    top: 130px;
    left: 30px;
  }

  .on-card-exp {
    top: 180px;
    right: 40px;
  }

  .on-card-cvc {
    bottom: 103px;
    right: 55px;
  }
  body {
    width: 100vw;
  }
}

@media screen and (max-width: 790px) {
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-image {
    height: 350px;
    width: 100vw;
    background-image: url(./Assets/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
  }

  .header-container {
    height: 350px;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .card-img-container {
    width: 500px;
    height: 385px;
    align-self: center;
    top: 40px;
  }

  .card-back {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .card-front {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
  }

  .form-container {
    align-self: center;
  }

  .complete-container {
    align-self: center;
  }

  .on-card-name {
    top: 320px;
    left: 50px;
    z-index: 3;
  }

  .on-card-number {
    top: 270px;
    left: 50px;
    z-index: 3;
  }

  .on-card-exp {
    top: 320px;
    right: 110px;
    z-index: 3;
  }

  .on-card-cvc {
    top: 118px;
    right: 70px;
    z-index: 3;
  }
  .card-logo {
    position: absolute;
    top: 170px;
    left: 50px;
    z-index: 3;
  }
  body {
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  .card-img-container {
    width: 300px;
    height: 220px;
    top: 20px;
  }
  .card-back {
    width: 250px;
    top: 0;
    right: 0;
  }

  .card-front {
    width: 250px;
    bottom: 0;
    left: 0;
  }
  .header-container {
    height: 215px;
    width: 100vw;
  }
  .form-container {
    width: 330px;
  }

  .complete-container {
    width: 330px;
  }

  .main-container {
    width: 375px;
    height: 500px;
  }

  .app-container {
    justify-content: flex-start;
  }
  .on-card-name {
    top: 190px;
    left: 20px;
    z-index: 3;
    font-size: 11px;
  }

  .on-card-number {
    top: 155px;
    left: 20px;
    z-index: 3;
    font-size: 15px;
  }

  .on-card-exp {
    top: 190px;
    right: 65px;
    z-index: 3;
    font-size: 11px;
  }

  .on-card-cvc {
    top: 60px;
    right: 30px;
    z-index: 3;
    font-size: 11px;
  }
  .card-logo {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 3;
    background-image: url(./Assets/images/card-logo.svg);
    background-size: contain;
    height: 30px;
    width: 50px;
  }

  body {
    width: 100vw;
  }
}

@media screen and (max-width: 375px) {
  .card-img-container {
    width: 300px;
    height: 220px;
    top: 20px;
  }
  .card-back {
    width: 250px;
    top: 0;
    right: 0;
  }

  .card-front {
    width: 250px;
    bottom: 0;
    left: 0;
  }
  .header-container {
    height: 215px;
    width: 375px;
  }
  .form-container {
    width: 330px;
  }
  .complete-container {
    width: 330px;
  }

  .main-container {
    width: 375px;
    height: 500px;
  }

  .app-container {
    justify-content: flex-start;
  }
  .on-card-name {
    top: 190px;
    left: 20px;
    z-index: 3;
    font-size: 11px;
  }

  .on-card-number {
    top: 155px;
    left: 20px;
    z-index: 3;
    font-size: 15px;
  }

  .on-card-exp {
    top: 190px;
    right: 65px;
    z-index: 3;
    font-size: 11px;
  }

  .on-card-cvc {
    top: 60px;
    right: 30px;
    z-index: 3;
    font-size: 11px;
  }
  .card-logo {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 3;
    background-image: url(./Assets/images/card-logo.svg);
    background-size: contain;
    height: 30px;
    width: 50px;
  }
  body {
    width: 100vw;
  }
}
